.navbar {
  background-color: #e3ebf2 !important;
}
.bootstrap-switch-mini {
  border-radius:10px;
}

#x-infoApp {
  margin-top: 10px;
}

button {
  background-color: #3c8dbc6b !important;
}

.filter-option-inner-inner {
  color:red;
}